<div id="centerDoc">
	
	<div class="post">Thanks for registering!  You'll be sent a confirmation email shortly in which you must click on the link to confirm that you in fact created your account.  Once you've confirmed your registration, you can comment on posts, and take part in other parts of the site!
	</div>
	
</div>