
<h2>Please use one of these handy-dandy services to Login:</h2>
<%= link_to image_tag("/images/facebook_64.png", :class => "omniauth_button"), "/auth/facebook", :class => "image_link", :alt => "Login Using Facebook" -%>
<%= link_to image_tag("/images/twitter_64.png", :class => "omniauth_button"), "/auth/twitter", :class => "image_link", :alt => "Login Using Twitter" -%>
